.main {
  max-height: auto;
}
.mainContent {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.punkHighlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}
.punkContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.punkContainer > img {
  max-height: 400px;
  height: auto;
  border-radius: 20px;
}
/* .punkContainer {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
} */

.punkDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
  padding: 20px;
}
.detailsTop .title {
  font-size: 40px;
  font-weight: 600;
}
.detailsTop .itemNumber {
  font-size: 20px;
  margin-top: 1rem;
}

.owner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ownerImageContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.ownerNameHandle {
  display: flex;
}
.ownerLink img {
  max-width: 50px;
  margin: auto 1rem;
  cursor: pointer;
}
